<mat-card class="w-100">
  <mat-card-content>
    <h2 class="mb-56" style="text-align: center;">
      Password Change
    </h2>

    <mat-form-field class="fs-16" appearance="outline" style="width: 48%">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
      <mat-error>
        Please provide a valid value
      </mat-error>
    </mat-form-field>

    <mat-form-field class="fs-16" style="width: 48%; float: right" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      <mat-error>
        Please provide a valid value
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="this.password && this.confirmPassword && this.confirmPassword!==this.password">
      Password and Confirm Password should match
    </mat-error>

    <br />
    <br />
    <div align="end">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!formValid">
        Submit
      </button>&nbsp;
    </div>
  </mat-card-content>
</mat-card>
